certifi==2021.5.30
cffi==1.14.6
charset-normalizer==2.0.6
colorama==0.4.4
commonmark==0.9.1
gevent==21.8.0
greenlet==1.1.2
grequests==0.6.0
idna==3.2
pycparser==2.20
Pygments==2.10.0
requests==2.26.0
rich==10.11.0
urllib3==1.26.7
zope.event==4.5.0
zope.interface==5.4.0
